<div class="container-fluid bg-secondary" style="height: 100%;">
    <div class="row" style="height: 10%;">
        <div class="col bg-secondary p-3 d-flex align-items-center text-center">
            <h1 class="text-white">Bonjour 
                {{(dataAdmin|async)?.nom}} {{(dataAdmin|async)?.prenom}}

            </h1>
        </div>
    </div>
    <div class="row bg-transparent" style="height: 90%; overflow: hidden;">
        <mat-card class="col-2  p-3 rounded-2 mx-2 my-2" style="height: 90%;">
            <app-menu></app-menu>
        </mat-card>
        <div class="col mx-2 my-2" style="height: 100%;">
            <mat-card class="row mb-3" style="height: 70%; overflow: auto;">
                <table class="table table-hover" mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="Nom">
                        <th mat-header-cell *matHeaderCellDef> Nom </th>
                        <td mat-cell *matCellDef="let utilisateur"> {{utilisateur.nom}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Prenom">
                        <th mat-header-cell *matHeaderCellDef> Prénom </th>
                        <td mat-cell *matCellDef="let utilisateur"> {{utilisateur.prenom}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Groupe">
                        <th mat-header-cell *matHeaderCellDef> Groupe </th>
                        <td mat-cell *matCellDef="let utilisateur"> {{utilisateur.groupe}}</td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Adresse email </th>
                        <td mat-cell *matCellDef="let utilisateur"> {{utilisateur.email}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
                </table>
            </mat-card>
            <mat-paginator
                            [pageSizeOptions]="[5, 10, 15]"
                            showFirstLastButtons
                            aria-label = "Select page"
                            class="row rounded-1 mb-3">
            </mat-paginator>
            <button mat-flat-button class="row my-2 float-end" (click)="openDialog()">Ajouter</button>
        </div>
    </div>
</div>